.Main{
    display: flex;
}

.Container{
    width: 55vw;
    min-height: 20vw;
    margin: 2vw 35vh;
}

.NovoUsuario{
    display: flex;
    margin: 1vh 2vw;
    text-align: center;
    justify-content: space-between;    
}

.NovoUsuario h1 {
    color: rgb(101, 101, 254);
}

.Button{
    background: rgb(101, 101, 254);
    color:var(--white);
    transition: ease 0.5s;
    padding: 2vh 2vw;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.Button:hover{
    background-color: rgb(44, 95, 249);
}

.Input{
    width: 50vw;
    height: 4vw;
    margin: 0.5vw 5vh;
    border-radius: 0.5vw;
}

.tabela{
    margin: auto;
    width: 50vw;
    border: 1px rgb(161, 161, 161) solid;
    background-color: white;
    height: 7vh;
}
.nivel{
    text-align: center;
    width:5vw;
}
.nome{
    text-align: center;
    width:7vw;
}

.email{
    text-align: center;
    width: 25vw;
}

.usuario{
    text-align: center;
    width: 7vw;
}
.acoes{
    text-align: center;
}
.nivelTitulo{
    text-align: center;
    font-weight: bold;
    width:5vw;
}
.nomeTitulo{
    width:7vw;
    text-align: center;
}

.emailTitulo{
    width: 25vw;
    text-align: center;
}

.usuarioTitulo{    
    text-align: center;
    width: 7vw;
}

.acoesTitulo{
    text-align: center;
}