.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding: 40px 0;
	justify-content: space-between;
	height: 100%;
}

.wrapper {
	width: 100%;
	padding: 40px;
}

.form {
	margin-top: 10px;
	display: grid;
	width: 100%;
	align-items: center;
	margin-bottom: 0.5rem;
	max-width: 600px;
	gap: 20px;
}

.inputs {
	height: 100px;
	width: 100%;
}

.footer {
	display: flex;
	justify-content: right;
	gap: 20px;
	width: 100%;
	max-width: 600px;
}
