.modal-overlay {
    background-color: rgba(105, 100, 100, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-content {
    width: 90%;
    max-width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#footer {
    justify-content: space-between;
    width: 480px;
    padding: 10px;
}

#divA {
    display:inline-block;
    width: 200px;
}    

#divB {
    text-align: left;
    width: 140px;
    float: right;
    
}    

p {
    margin-top: 0px;
    padding-top: 0px;
}

.closeButton {
    color: var(--blue);
    float: right;
}

h2 {
    color: var(--blue);
    padding: 3px;
}