.header{
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-around;
}

.firstDivHeader{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.section{
  display: flexbox;
  width: 100%;
  padding: 1rem;

  /* align-self: center; */
  justify-content: space-around;
};

.table{
  margin: 1rem;
}
