.header{
  display: flex;
  flex-direction: column;  
  width: 100%;
  max-width: 700px;
  
}

.firstDivHeader{
  display: flex;  
  align-items: center;
  justify-content: space-evenly;
}

.section{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  /* justify-content: space-around; */
  align-items: center;
  align-content: center;
};

.table{
  margin: 1rem;
}


.footerPage{
  display: flex;
  align-items: center;
}

.buttonInfoPage{
  display: flex;
  align-items: center;
  margin: 0.3rem;
}