.main{
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;  
    width: 100%;
    max-width: 59vw;
    
  }
  
  .firstDivHeader{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
  }
  
  .section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    /* justify-content: space-around; */
    align-items: center;
    align-content: center;
  
    /* background-color: blueviolet; */
  };
  
  .table{
    margin: 1rem;
  }

  .busca{
    width: 58vw;
    height: 4vw;
    border-radius: 0.5vw;
    border: 1px solid;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  