


.Typography{
    color: var(--blue);    
}

.btnconfirmar{
    background-color:  var(--blue);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0 3px;
  }


  .valoresCompra{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }

  .containerVEndaEntrega{

    flex-direction: row;
  }

.containerInputs{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}

.textField{
  margin-right: 5px;
}

.linhaHeader{
  margin-bottom: 20px;
}

