#root{
    padding: 10px;
}


.Typography{
    color: var(--blue);    
}

.btnconfirmar{
    background-color:  var(--blue);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
  }


  .valoresCompra{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }