.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: rgb(153, 44, 255); */
    align-items: center;
  }
  
  .form{
    margin-top: 10px;
    display: grid;
    max-width: 650px;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .inputs{
    height: 100px;
  }
  
  .toogle{
    display: flex;
    align-items: center;
    justify-self: left;
  }
  
  .footer{
    /* margin-top: 5rem; */
    display: flex;
    justify-content: right;
  }
  
  